<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Users</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Active users</h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Inactive Users</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Users</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">full name</th>
              <th scope="col">phone number</th>
              <th scope="col">email</th>
              <th scope="col">status</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="
                let user of users;
                let i = index
              "
            >
              <td>{{user.firstName}} {{user.lastName}}</td>
              <td>{{user.phoneNumber}} </td>
              <td>{{user.email}} </td>
              <td>
                  <span *ngIf="user.active" class="badge badge-dot mr-4">
                    <i class="bg-success"></i> Active
                  </span>
                <span *ngIf="!user.active" class="badge badge-dot mr-4">
                    <i class="bg-danger"></i> In active
                  </span>

              </td>
              <td class="text-right">
                <div ngbDropdown   placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="javascript:void(0)">Activate</a>
                    <a class="dropdown-item" href="javascript:void(0)">Deactivate</a>
                    <a class="dropdown-item" href="javascript:void(0)">Reset Password</a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="totalItems > itemsPerPage" class="row justify-content-center">
          <div class="row justify-content-center">
            <pagination [id]="5" [previousText]="previousText" [nextText]="nextText" [directionLinks]="true" [boundaryLinks]="false" [rotate]="true" [maxSize]=8
                        [itemsPerPage]="itemsPerPage"
                        [totalItems]="totalItems" (pageChanged)="listUser($event)" [(ngModel)]="currentPage">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Dark table -->
</div>
